@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

header {
  border-bottom: 5px solid #424242;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.row.project-sections {
  background: #ffffff;
}

.row.project-sections div {
  background: #ffffff;
}

a, a:visited, a:hover {
  color: #4F754F;
}

.navbar-brand {
  font-size: 1em;
}

.navbar {
  padding-top: 0px;
}

.row {
  background: #f8f8f8;
  padding: 10px;
  margin-bottom:10px;
  border-radius: 5px;
}

pre {
  background: #ffffff;
}

code {
  background: #ffffff;;
}

pre code {
  font-family: 'Red Hat Mono', monospace;
  color: #111;
  background: #ffffff;;
}

.list-group {
  margin-bottom: 20px;
}

.list-group .list-group-item {
  padding: 5px;
}

.list-group .list-group-item h5 {
  font-size: 1em;
}

.list-group .list-group-item p {
  font-size: 1em;
  padding: 0;
}

.card {
  margin-bottom:20px;
}

.card:hover {
  background: #efefef;
  cursor: pointer;
}

.card small {
  padding: 5px;
  text-align: right;
}

.card-header {
  padding: 5px;
}

.card-body {
  padding: 5px;
}