@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

header {
  border-bottom: 5px solid #424242;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  font-size: 1em;
}

.navbar {
  padding-top: 0px;
}

pre code {
  font-family: 'Red Hat Mono', monospace;
  color: #111;
}

.list-group {
  margin-bottom: 20px;
}

.list-group .list-group-item {
  padding: 5px;
}

.list-group .list-group-item h5 {
  font-size: 1em;
}

.list-group .list-group-item p {
  font-size: 1em;
  padding: 0;
}

.card {
  margin-bottom:20px;
}

.card:hover{
  background: #efefef;
}

.card small {
  padding: 5px;
  text-align: right;
}